@charset "utf-8";
/* CSS Document */
#pageContainer {
    position: relative;
    float:left;
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    background-color: #f8f8f8;
}

.order-list {
    float:left;
    width:100%;
    padding: 50px 0px 60px 0px;
}

/******订单详情******/

.order-list ul {
    float: left;
    width: 100%;
}

.order-list ul li {
    position: relative;
    float: left;
    width: 100%;
    padding: 5px 15px;
    margin-top:5px;
    background-color:#fff;
}

.order-list ul li .item-bd{
    float:left;
    width:100%;
    height:80px;
    padding:0px 5px;
}



.order-list li .thumb {
    position: absolute;
    width: 60px;
    height: 60px;
    left:20px;
    top:10px;
    background-color: #fff;
    border: 2px solid #eaeaea;
}

.order-list li .thumb img {
    width: 100%;
    height: 100%;
}

.order-list li .title {
    float: left;
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    color: #333;
    padding-left: 70px;
    overflow: hidden;
}

.order-list li .property {
    float: left;
    width: 100%;
    height: 20px;
    margin-left: 2px;
    line-height: 20px;
    font-size: 12px;
    color: #999;
    padding-left: 70px;
    overflow: hidden;
}

.order-list li .price {
    float: left;
    width: 100%;
    height: 20px;
    margin-left: 2px;
    line-height: 20px;
    font-size: 14px;
    color: #999;
    padding-left: 70px;
    overflow: hidden;
}

.order-list li .price i{
    font-size:12px;
    font-style:normal;
}


.order-list ul li .item-ft{
    float:left;
    width:100%;
    height:40px;
    padding:0px 5px;
    line-height: 40px;
    border-top:1px solid #eaeaea;
}

.order-list ul li .item-ft .time{
    float:left;
    width:50%;
    font-size:12px;
    color:#999;
}

.order-list ul li .item-ft .status{
    float:left;
    width:50%;
    text-align:right;
}

.order-list ul li .item-ft .status i{
    font-size:12px;
    font-style:normal;
    color:#ff6600;
}

.order-list ul li .item-ft .status .btn{
    display:inline-block;
    padding:3px 10px;
    margin-left:5px;
    border-radius: 5px;
    font-size:12px;
    font-style:normal;
    color:#422502;
    text-align:center;
    background-color:#fccb0f;
}




/***我的二维码**/
.qrcode{
    float:left;
    width:100%;
}

.qrcode ul,.qrcoce li{
    float:left;
    width:100%;
}

.qrcode li.line1{
    height:50px;
    line-height: 40px;
    font-size:16px;
    color:#999;
    text-align:center;
}

.qrcode li.line2{
    padding:30px 15%;
    line-height: 40px;
    font-size:16px;
    color:#999;
    text-align:center;
}

.qrcode li.line2 img{
    float:left;
    width:100%;
}


.qrcode li.line3{
    padding:10px 15%;
    line-height: 40px;
    font-size:16px;
    color:#999;
    text-align:center;
}

.qrcode li.line3 img{
    width:40px;
    height:40px;
    margin:5px;
    border-radius: 50%;
}
